# DataFrame - 문자열 조작

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

- 실습 데이터 준비

In [8]:
df = pd.read_csv('법정동코드 전체자료.txt', sep='\t', encoding='euc-kr')
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [9]:
df.shape

(46314, 3)

In [10]:
df = df[df.폐지여부 == '존재']
df.shape

(20551, 3)

In [12]:
# 인덱싱
df.법정동명.str[:2].tail()

46309    제주
46310    제주
46311    제주
46312    제주
46313    제주
Name: 법정동명, dtype: object

In [13]:
# 찾기
df.법정동명.str.find('동').head()

0    -1
1    -1
2    12
3    12
4    12
Name: 법정동명, dtype: int64

In [15]:
'서울특별시 종로구'.find('동')

-1

In [16]:
'서울특별시 종로구 청운동'.find('동')

12

In [18]:
# 분할
df.법정동명.str.split().head()   # 공백으로 분할

0              [서울특별시]
1         [서울특별시, 종로구]
2    [서울특별시, 종로구, 청운동]
3    [서울특별시, 종로구, 신교동]
4    [서울특별시, 종로구, 궁정동]
Name: 법정동명, dtype: object

In [21]:
# 포함글자 인식 : .str.contains() 
df.법정동명.str.contains('종로').head()  # 종로 포함 법정동 추출

0    False
1     True
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [23]:
# 문자 대체 : .str.replace() 
# 스트링 메소드와는 달리 정규 표현식을 사용할 수 있음 
df.법정동명.str.replace(' ', '_').head() # 공백을 _로 대체

0            서울특별시
1        서울특별시_종로구
2    서울특별시_종로구_청운동
3    서울특별시_종로구_신교동
4    서울특별시_종로구_궁정동
Name: 법정동명, dtype: object

In [24]:
s = pd.Series(['가나다 123', 'ㅠㅠ!!!', '한글alphabet'])
s

0       가나다 123
1         ㅠㅠ!!!
2    한글alphabet
dtype: object

In [25]:
# 정규 표현식(Regular expression)
import re
re.sub('[0123456789]', '.', '가나다 123')  # (정규 표현식, 뭘로 바꿀지, 바꿀 문자 )
# re.sub('[0-9]', '.', '가나다 123') 위와 같은 표현

'가나다 ...'

In [26]:
re.sub('[a-z]', '.', '한글alphabet')

'한글........'

In [28]:
# 문자열 메소드인 replace는 정규표현식을 지원하지 않음
'한글alphabet'.replace('[a-z]','.')

'한글alphabet'

In [30]:
# 한글 정규 표현식
re.sub('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.', '한글alphabet')

'..alphabet'

In [33]:
# Pandas str.replace() 메소드는 정규 표현식을 지원함
s.str.replace('[ㄱ-ㅎㅏ-ㅣ가-힣]', '.')

0       ... 123
1         ..!!!
2    ..alphabet
dtype: object

In [35]:
# ^ 는 not(부정)을 의미
s.str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')  # 한글과 공백을 제외한 글자는 삭제

0    가나다
1      ㅠㅠ
2      한글
dtype: object

In [36]:
# \s = white space = ' ', '\t\n' 등의 의미

- str.메소드로 천단위 구분기호를 숫자로 바꾸기

In [38]:
cctv = pd.read_csv('Seoul_CCTV.csv', skiprows = 1, encoding='euc-kr')

cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [39]:
for column in cctv.columns[1:]:
    cctv[column] = cctv[column].str.replace(',', '').astype(int)

cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [41]:
cctv.index[:5]

RangeIndex(start=0, stop=5, step=1)

- 인덱스 조작

In [42]:
cctv.set_index('구분').head()

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,
계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,3602,448,125,212,105,339,310,874,390,262,461,76

In [44]:
cctv.reset_index(inplace=True)
cctv.head()

,level_0,index,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,0,0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1,1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,2,2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
3,3,3,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
4,4,4,성동구,3602,448,125,212,105,339,310,874,390,262,461,76

- set_index를 한 후에 주의사항

In [45]:
cctv.set_index('구분',)

,level_0,index,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
구분,,,,,,,,,,,,,,
계,0,0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
종로구,1,1,1772,813,0,0,210,150,1,261,85,9,200,43
중 구,2,2,2333,16,114,87,77,236,240,372,386,155,361,289
용산구,3,3,2383,34,71,234,125,221,298,351,125,307,617,0
성동구,4,4,3602,448,125,212,105,339,310,874,390,262,461,76
광진구,5,5,2588,35,57,100,187,98,52,675,465,712,175,32
동대문구,6,6,2497,1090,146,60,29,111,233,136,197,209,223,63
중랑구,7,7,3296,302,24,253,88,141,161,162,173,1049,939,4
성북구,8,8,3958,83,78,170,230,323,594,460,867,714,251,188
강북구,9,9,2462,0,0,24,65,105,243,6,392,1000,588,39
도봉구,10,10,1629,39,22,96,181,79,159,134,222,198,168,331
노원구,11,11,2415,0,97,193,77,516,331,175,216,320,386,104
은평구,12,12,3791,14,3,44,332,329,555,403,635,1057,288,131
서대문구,13,13,2940,730,253,155,108,137,223,356,237,343,397,1
마포구,14,14,2421,58,93,77,61,162,454,359,343,494,300,20
양천구,15,15,3312,1413,167,181,143,180,350,139,140,274,325,0
강서구,16,16,2560,55,129,106,213,188,168,506,259,457,356,123
구로구,17,17,4075,852,216,349,187,268,326,540,488,434,415,0
금천구,18,18,2374,0,0,178,80,361,133,196,540,369,508,9
영등포구,19,19,3778,572,136,238,123,209,248,311,658,65,1213,5
동작구,20,20,2297,41,24,25,503,128,253,271,300,322,419,11
관악구,21,21,4942,428,205,291,513,529,621,687,663,640,331,34
서초구,22,22,3704,116,75,94,71,563,516,1060,428,358,420,3
강남구,23,23,6502,124,77,75,597,840,1310,999,748,789,942,1
송파구,24,24,2854,72,61,86,85,215,148,241,542,1068,235,101
강동구,25,25,2547,332,27,163,49,154,202,273,377,356,614,0